@charset "utf-8";
/* CSS Document */

a#kekuleLogo
{
	background: #fff url(images/KekuleLogoSmall.png) no-repeat;
}

.MainHeader, .MainContent, .MainFooter
{	
	width: 900px;	
}

.MainContent article
{
	margin-right: 170px;
}
