.K-Chem-Periodic-Table
{
    color: #000;
}
.K-Chem-Periodic-Table .K-Chem-Periodic-Table-Legend
{
    color: #000;
}
.K-Chem-Periodic-Table .K-Chem-Periodic-Table-Legend-Content
{
    background-color: #eee;
    box-shadow: 1px 1px 2px #aaa;
}
.K-Chem-Periodic-Table-Head-Cell-Content
{
    color: #aaa;
}
.K-Chem-Periodic-Table td.K-Chem-Periodic-Table-Elem-Cell,
.K-Chem-Periodic-Table td.K-Chem-Periodic-Table-Elem-StubsCell
{
    /*border-color: #fff;*/
    border-color: transparent;
}
.K-Chem-Periodic-Table-Legend .K-Chem-Periodic-Table-Elem-Cell-Content
{
    background-color: #3098d5;
}
.K-Chem-Periodic-Table td.K-Chem-Periodic-Table-Elem-Cell .K-Chem-Periodic-Table-Elem-Cell-Content:hover
{
    outline-color: #fff;
}
.K-Chem-Periodic-Table .K-Chem-Atomic-Num
{
    /*color: #b00;*/
}
/*
.K-Chem-Periodic-Table-Elem-Cell-Content
{
    background-color: #B7DDA0;
}
*/

.K-Chem-Periodic-Table .Nonmetals
{
    background-color: #d8d5c4;
}
.K-Chem-Periodic-Table .NobleGasses
{
    background-color: #3098d5;
}
.K-Chem-Periodic-Table .AlkaliMetals
{
    background-color: #fff798;
}
.K-Chem-Periodic-Table .AlkaliEarthMetals
{
    background-color: #a986be;
}
.K-Chem-Periodic-Table .Metalloids
{
    background-color: #faab4e;
}
.K-Chem-Periodic-Table .Halogens
{
    background-color: #bbc0d6;
}
.K-Chem-Periodic-Table .Metals
{
    background-color: #2bbda8;
}
.K-Chem-Periodic-Table .Transitionmetals
{
    background-color: #f2635d;
}
.K-Chem-Periodic-Table .Lanthanides,
.K-Chem-Periodic-Table .Actinides
{
    background-color: #e4e5e7;
}

.K-Chem-Periodic-Table td.K-State-Selected
{
    border-color: #000;
}
.K-Chem-Periodic-Table .K-State-Selected .K-Chem-Periodic-Table-Elem-Cell-Content
{
    background-color: #fff;
    outline: 1px solid #000;
    transform: scale(1.1);
}

.K-Chem-Viewer-Menu-Button > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/menu.png");
}

.K-Chem-MolDisplaySkeletal > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/molSkeletal.png");
}
.K-Chem-MolDisplayCondensed > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/molCondensed.png");
}
.K-Chem-MolDisplayWire > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/molWireFrame.png");
}
.K-Chem-MolDisplaySticks > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/molSticks.png");
}
.K-Chem-MolDisplayBallStick > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/molBallStick.png");
}
.K-Chem-MolDisplaySpaceFill > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/molSpaceFill.png");
}

.K-Chem-MolHideHydrogens > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/hideHydrogens.png");
}

.K-Chem-RotateLeft > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/rotateLeft.png");
}
.K-Chem-RotateRight > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/rotateRight.png");
}
.K-Chem-RotateX > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/rotateX.png");
}
.K-Chem-RotateY > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/rotateY.png");
}
.K-Chem-RotateZ > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/rotateZ.png");
}

.K-Chem-ZoomIn > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/zoomIn.png");
}
.K-Chem-ZoomOut > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/zoomOut.png");
}
.K-Chem-Reset > .K-Pri-Glyph-Content,
.K-Chem-ResetZoom > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/reset.png");
}
.K-Chem-Viewer-Edit > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/edit.png");
}
.K-Chem-ClearObjs > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/trash.png");
}
.K-Chem-NewDoc > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/documentNew.png");
}
.K-Chem-LoadFile > .K-Pri-Glyph-Content,
.K-Chem-LoadData > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/documentOpen.png");
}
.K-Chem-SaveFile > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/save.png");
}
.K-Chem-Undo > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/undo.png");
}
.K-Chem-Redo > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/redo.png");
}
.K-Chem-Clone-Selection > .K-Pri-Glyph-Content,
.K-Chem-Copy > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/copy.png");
}
.K-Chem-Cut > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/cut.png");
}
.K-Chem-Paste > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/paste.png");
}

.K-Chem-Toggle-Inspector > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/inspect.png");
}