/**

  Now temporarily using JQuery UI icons

**/

/*
.K-State-Focused, .K-State-Hover
{
    color: #212121;
    border-color: #999999;
}
*/

.K-State-Normal, a.K-Widget, a.K-Widget:active, a.K-Widget:visited
{
    color: #555555;
}

.K-State-Focused
{

}

.K-State-Hover
{

}

.K-State-Selected {
    background-color: #F39814;
}

.K-Widget
{
    color: #555555;
    /*background-color: #fff;*/ /* Can not set back color directly here, otherwise form controls (textbox) will lose its default outlook. */
}
.K-Assoc-Text-Content
{
    color: #888888;
}
.K-Normal-Background,
.K-ComboBox .K-TextBox,
.K-Container.K-Panel
{
    background-color: #fff;
}

.K-Container
{
    background-color: transparent;
}

.K-Modal-Background
{
    background-color: rgb(200, 200, 200);
    background-color: rgba(128, 128, 128, 0.3);
}

.K-MsgPanel
{
    background-color: transparent;
}
.K-MsgPanel .K-MsgPanel-Content
{
    background-color: #fff;
    border-color: #d3d3d3;
    color: #000;
    box-shadow: 1px 1px 2px #aaa;
}
.K-MsgPanel.K-Msg-Normal
{

}
.K-MsgPanel.K-Msg-Info .K-MsgPanel-Content
{
    background-color: #ebf5ff;
    color: #000;
}
.K-MsgPanel.K-Msg-Warning .K-MsgPanel-Content
{
    background-color: #ffffc8;
    color: #000;
}
.K-MsgPanel.K-Msg-Error .K-MsgPanel-Content
{
    background-color: #ffebeb;
    color: #f00;
}
.K-MsgPanel.K-Msg-Info .K-Pri-Glyph-Content,
.K-MsgPanel.K-Msg-Warning .K-Pri-Glyph-Content,
.K-MsgPanel.K-Msg-Error .K-Pri-Glyph-Content
{
    display: inline-block;
	background-repeat: no-repeat;
}
.K-MsgPanel.K-Msg-Info .K-Pri-Glyph-Content
{
    background-image: url('images/slice/icons16/info.png');
}
.K-MsgPanel.K-Msg-Warning .K-Pri-Glyph-Content
{
    background-image: url('images/slice/icons16/warning.png');
}
.K-MsgPanel.K-Msg-Error .K-Pri-Glyph-Content
{
    background-image: url('images/slice/icons16/error.png');
}

.K-MsgGroup
{
    background-color: transparent;
}

.K-Resize-Gripper
{
    background-image: url("images/slice/icons16/resizer.png");
}


.K-Button,
.K-Toolbar,
.K-Panel,
.K-TreeView,
.K-Widget-Grid .K-Widget-Grid-Cell,
.K-PageNavigator > .K-PageNavigator-PageIndexer
{
    border-color: #d3d3d3;
}
.K-Widget-Grid .K-Widget-Grid-Cell
{
    color: #d3d3d3;
}
.K-Button,
.K-Toolbar,
.K-PageNavigator > .K-PageNavigator-PageIndexer
{
    background-color: #e6e6e6;
    background-image: none;
}

.K-Button .K-DropDownMark
{
    opacity: 0.7;
    filter:Alpha(Opacity=70);
}

.K-Button.K-State-Focused, .K-Button.K-State-Hover,
.K-Widget-Grid .K-Widget-Grid-Cell.K-State-Hover
{
    color: #212121;
    border-color: #999999;
}
.K-Button.K-State-Focused, .K-Button.K-State-Hover
{
    background-color: #dadada;
}

.K-Button.K-State-Active,
.K-Widget-Grid .K-Widget-Grid-Cell:active,
.K-PageNavigator > .K-PageNavigator-PageIndexer.K-State-Hover,
.K-PageNavigator > .K-PageNavigator-PageIndexer.K-State-Focused,
.K-PageNavigator > .K-PageNavigator-PageIndexer.K-State-Active
{
    border-color: #aaaaaa;
}
.K-Button.K-State-Active,
.K-PageNavigator > .K-PageNavigator-PageIndexer.K-State-Hover,
.K-PageNavigator > .K-PageNavigator-PageIndexer.K-State-Focused,
.K-PageNavigator > .K-PageNavigator-PageIndexer.K-State-Active
{
    background-color: #ffffff;
}

.K-Button.K-Button-Kinded .K-Pri-Glyph-Content,
.K-Button.K-Button-Kinded .K-Assoc-Glyph-Content
{
    width: 16px;
    height: 16px;
    /*
    background-repeat: no-repeat;
    */
}
.K-Button.K-Button-Kinded .K-Pri-Glyph-Content
{
    /*display: none;*/
}

/* different button kinds */
.K-Button.K-Button-Kinded.K-Kind-DropDown .K-Assoc-Glyph-Content
{
    background-image: url("images/slice/icons16/triangleDown.png"); /* drop down mark */
}
.K-Button.K-Button-Kinded.K-Kind-Popup .K-Assoc-Glyph-Content
{
    background-image: url("images/slice/icons16/openExternal.png"); /* popup mark */
}
.K-Button.K-Button-Kinded.K-Kind-Search .K-Assoc-Glyph-Content
{
    background-image: url("images/slice/icons16/search.png");
}
.K-Button.K-Button-Kinded.K-Kind-Edit .K-Assoc-Glyph-Content
{
    background-image: url("images/slice/icons16/pencil.png");
}

.K-Compact-Mark
{
    border-bottom-color: #a3a3a3;
    border-right-color: #a3a3a3;
}
.K-State-Focused>.K-Compact-Mark, .K-State-Hover>.K-Compact-Mark
{
    border-bottom-color: #999;
    border-right-color: #999;
}
.K-State-Active>.K-Compact-Mark
{
    border-bottom-color: #777;
    border-right-color: #777;
}

.K-State-Disabled
{
    opacity: .35;
    filter:Alpha(Opacity=35);
    color: #555555;
}

input.K-State-Disabled, select.K-State-Disabled, textarea.K-State-Disabled
{
    opacity: inherit;
    filter: '';
    color: inherit;
}

.K-TextEditor .K-TextEditor-Toolbar .K-Button .K-Pri-Glyph-Content
{
    width: 16px;
    height: 16px;
}

.K-Menu, .K-MenuItem, .K-MenuItem-Separator
{
    background-color: #fff;
}
.K-Menu .K-MenuItem-Normal:hover,
.K-Menu .K-MenuItem-Normal:active,
.K-Menu .K-MenuItem-Normal:focus
{
    background-color: #dadada;
}
.K-Menu,
.K-Menu .K-MenuItem-Separator
{
    border-color: #d3d3d3;
}
.K-Menu .K-MenuItem-Separator
{
    color: #d3d3d3;
}

.K-Menu.K-Layout-V .K-MenuItem .K-SubMenu-Marker,
.K-Menu .K-MenuItem .K-CheckMenu-Marker
{
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    top: 50%;
    margin-top: -8px;
    background-repeat: no-repeat;
}
.K-Menu.K-Layout-V .K-MenuItem .K-SubMenu-Marker
{
    background-image: url("images/slice/icons16/caratRight.png");
}
.K-Menu .K-MenuItem.K-State-Checked .K-CheckMenu-Marker
{
    background-image: url("images/slice/icons16/checked.png");
}

.K-TextEditor-Btn-FontSizeInc > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons16/fontSizeInc.png");
}
.K-TextEditor-Btn-FontSizeDec > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons16/fontSizeDec.png");
}
.K-TextEditor-Btn-TextWrap > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons16/wrap.png");
}

.K-TreeView,
.K-ColorPicker,
.K-TabView
{
    /*border-color: #d3d3d3;*/
    /*background-color: #fff;*/
}
.K-TabView .K-TabView-TabButton-Container
{
    /*background-color: #e6e6e6;*/
}

.K-TabButtonGroup .K-Button,
.K-TabView .K-TabView-Page-Container
{
    background-color: #fff;
    color: #d3d3d3;
    border-color: #dddddd;
}
.K-TabButtonGroup .K-Button.K-State-Hover,
.K-TabButtonGroup .K-Button.K-State-Focused,
.K-TabButtonGroup .K-Button.K-State-Active
{
    border-color: #999999;
    color: #000;
}
.K-TabButtonGroup.K-Layout-H>.K-Button,
.K-TabButtonGroup.K-TabAtTop>.K-Button,
.K-TabButtonGroup.K-TabAtBottom>.K-Button
{
    border-bottom-color: transparent;
    border-top-color: transparent;
}
.K-TabButtonGroup.K-Layout-V>.K-Button,
.K-TabButtonGroup.K-TabAtLeft>.K-Button,
.K-TabButtonGroup.K-TabAtRight>.K-Button
{
    border-left-color: transparent;
    border-right-color: transparent;
}
.K-TabButtonGroup.K-TabAtTop>.K-Button .K-Button.K-State-Hover,
.K-TabButtonGroup.K-TabAtTop.K-Button.K-State-Focused
.K-TabButtonGroup.K-TabAtBottom>.K-Button.K-State-Hover,
.K-TabButtonGroup.K-TabAtBottom>.K-Button.K-State-Focused
{
    border-bottom-color: transparent;
    border-top-color: transparent;
}
.K-TabButtonGroup.K-TabAtLeft>.K-Button.K-State-Hover,
.K-TabButtonGroup.K-TabAtLeft>.K-Button.K-State-Focused,
.K-TabButtonGroup.K-TabAtRight>.K-Button.K-State-Hover,
.K-TabButtonGroup.K-TabAtRight>.K-Button.K-State-Focused
{
    border-left-color: transparent;
    border-right-color: transparent;
}
.K-TabButtonGroup.K-TabAtTop>.K-Button.K-State-Active,
.K-TabButtonGroup.K-TabAtBottom>.K-Button.K-State-Active
{
    border-bottom-color: #F39814;
    border-top-color: #F39814;
}
.K-TabButtonGroup.K-TabAtLeft>.K-Button.K-State-Active,
.K-TabButtonGroup.K-TabAtRight>.K-Button.K-State-Active
{
    border-left-color: #F39814;
    border-right-color: #F39814;
}
.K-TabView .K-TabView-Page-Container
{
    border-color: #d3d3d3;
}

.K-TreeView .K-TreeView-ExpandMark
{
    background-image: url("images/slice/icons16/triangleDown.png");
}

.K-TreeView .K-State-Collapsed .K-TreeView-ExpandMark
{
    background-image: url("images/slice/icons16/triangleRight.png");
}

.K-Widget-Grid .K-Widget-Grid-Cell .K-Widget-Grid-Interaction-Area .K-Button .K-Pri-Glyph-Content
{
    display: inline-block;
    width: 16px;
    height: 16px;
    /*
    background-repeat: no-repeat;
    */
}
.K-Widget-Grid-Button-Remove .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons16/close.png");
}

.K-ColorPicker .K-ColorPicker-Palette,
.K-ColorPicker .K-ColorPicker-Palette-Cell,
.K-ColorPicker .K-ColorPicker-Spec-Color-Palette,
.K-ColorDropButton .K-Pri-Glyph-Content
{
    border-color: #333;
}
.K-ColorPicker .K-ColorPicker-Palette-Cell-Transparent
{
    background-image: url("images/slice/icons16/transparentGrid.png");
}

.K-ValueListEditor .K-ValueListEditor-Row
{
    background-color: #fff;
    border-color: transparent;
}
.K-ValueListEditor, .K-ValueListEditor .K-ValueListEditor-Cell, .K-ObjInspector, .K-ObjInspector .K-ObjInspector-PropListEditorContainer
{
    border-color: #d3d3d3;
    outline-color: #d3d3d3;
}
.K-ValueListEditor .K-ValueListEditor-ValueCell
{
    color: #303080;
}

.K-ValueListEditor .K-ValueListEditor-ActiveRow .K-ValueListEditor-IndicatorCell span
{
    background-image: url("images/slice/icons16/pencil.png"); /* pencil mark */
}

.K-ValueListEditor,
.K-ValueListEditor .K-ValueListEditor-Row:hover,
.K-ValueListEditor .K-ValueListEditor-Row:active,
.K-ValueListEditor .K-ValueListEditor-ActiveRow,
.K-ValueListEditor .K-ValueListEditor-IndicatorCell
/*.K-ObjInspector .K-ObjInspector-PropInfoPanel, .K-ObjInspector .K-ObjInspector-ObjsInfoPanel*/
{
    background-color: #e6e6e6;
}
/*
.K-ValueListEditor .K-ValueListEditor-ActiveRow .K-ValueListEditor-KeyCell,
.K-ValueListEditor .K-ValueListEditor-ActiveRow .K-ValueListEditor-ValueCell
*/
.K-ValueListEditor .K-ValueListEditor-ActiveRow
{
    border-color: #d3d3d3;
    outline-color: #d3d3d3;
}
.K-ValueListEditor .K-ValueListEditor-ActiveRow .K-ValueListEditor-ValueCell
/*.K-ValueListEditor .K-ValueListEditor-InlineEdit*/
{
    background-color: #fff;
}

.K-PropListEditor .K-PropListEditor-PropExpandMarker
{
    /*
    background-image: url("icons/generalUiIcons.png");
    background-position: 1000px 1000px;
    background-repeat: no-repeat;
    */
}

.K-PropListEditor .K-PropListEditor-PropExpanded .K-PropListEditor-PropExpandMarker
{
    background-image: url("images/slice/icons16/triangleDown.png");
}
.K-PropListEditor .K-PropListEditor-PropCollapsed .K-PropListEditor-PropExpandMarker
{
    background-image: url("images/slice/icons16/triangleRight.png");
}

.K-ValueListEditor .K-ValueListEditor-ActiveRow.K-PropListEditor-ReadOnly .K-ValueListEditor-IndicatorCell span
{
    background-image: url("images/slice/icons16/locked.png");  /* lock mark */
}

.K-ObjInspector /*.K-ObjInspector-PropInfoPanel, .K-ObjInspector .K-ObjInspector-ObjsInfoPanel*/
{
    background-color: #f6f6f6;
}


.K-Widget-Configurator .K-ObjInspector
{
    background-color: #fff;
}

.K-Dialog, .K-Dialog .K-Dialog-Caption
{
    border-color: #aaaaaa;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.7);
}
.K-Dialog, .K-Dialog-Client
{
    background-color: #fff;
}
.K-Dialog .K-Dialog-Caption
{
    /* Gradient */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.K-DataTable thead
{
    background-color: #e6e6e6;
}
.K-DataTable th .K-DataTable-SortMark
{
    width: 16px;
    height: 16px;
    /*
    background-repeat: no-repeat;
    */
}
.K-DataTable th .K-DataTable-SortMark.K-Sort-Asc,
.K-DataTable th .K-DataTable-SortMark.K-Sort-Desc
{
    /*
    background-image: url("icons/generalUiIcons.png");
    */
    opacity: 0.5;
}
.K-DataTable th .K-DataTable-SortMark.K-Sort-Asc
{
    background-image: url("images/slice/icons16/triangleUp.png");
}
.K-DataTable th .K-DataTable-SortMark.K-Sort-Desc
{
    background-image: url("images/slice/icons16/triangleDown.png");
}
.K-DataTable tr.K-State-Hover
{
    background-color: #eeeeee;
}
.K-DataTable td.K-State-Hover
{
    /*background-color: green;*/
}
.K-DataTable tr.K-State-Active
{
    background-color: #eeeeee;
}
.K-DataTable td.K-State-Active
{
    /*
    background-color: #e6e6e6;
    */
}

.K-DataTable-Edit > .K-Pri-Glyph-Content,
.K-DataTable-Insert > .K-Pri-Glyph-Content,
.K-DataTable-Delete > .K-Pri-Glyph-Content,
.K-PageNavigator-First > .K-Pri-Glyph-Content,
.K-PageNavigator-Last > .K-Pri-Glyph-Content,
.K-PageNavigator-Prev > .K-Pri-Glyph-Content,
.K-PageNavigator-Next > .K-Pri-Glyph-Content
{
    width: 16px;
    height: 16px;
    /*
    background-image: url("icons/generalUiIcons.png");
    */
}
.K-DataTable-Edit > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons16/triangleUp.png");
}
.K-DataTable-Insert > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons16/plus.png");
}
.K-DataTable-Delete > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons16/minus.png");
}
.K-PageNavigator-First > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons16/first.png");
}
.K-PageNavigator-Last > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons16/last.png");
}
.K-PageNavigator-Prev > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons16/triangleLeft.png");
}
.K-PageNavigator-Next > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons16/triangleRight.png");
}



.K-Action-Open-Configurator > .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/settings.png");
}


/*****************************************************************/
/* Style resources */
.K-Res-Cursor-Rotate
{
    cursor: url("images/cursors/rotate.cur"), url("images/cursors/rotate.png") 10 12, pointer;
}
.K-Res-Cursor-Rotate-NE
{
    cursor: url("images/cursors/rotateNE.cur"), url("images/cursors/rotateNE.png") 16 16, pointer;
}
.K-Res-Cursor-Rotate-NW
{
    cursor: url("images/cursors/rotateNW.cur"), url("images/cursors/rotateNW.png") 16 16, pointer;
}
.K-Res-Cursor-Rotate-SE
{
    cursor: url("images/cursors/rotateSE.cur"), url("images/cursors/rotateSE.png") 16 16, pointer;
}
.K-Res-Cursor-Rotate-SW
{
    cursor: url("images/cursors/rotateSW.cur"), url("images/cursors/rotateSW.png") 16 16, pointer;
}
.K-Res-Icon-Color-Pick
{
    background-image: url("images/slice/icons16/pencil.png"); /* pencil mark */
}
.K-Res-Icon-Color-NotSet,
.K-Color-Unset,
.K-Color-Default
{
    background-image: url("images/slice/other/colorNotSet.gif");
}
.K-Res-Icon-Color-Mixed,
.K-Color-Mixed
{
    background-image: url("images/slice/other/colorMulti.gif");
}
.K-Res-Icon-Color-Transparent,
.K-Color-Transparent
{
    background-image: url("images/slice/icons16/transparentGrid.png");
}

.K-Res-Button-YesOk .K-Pri-Glyph-Content,
.K-Res-Button-NoCancel .K-Pri-Glyph-Content,
.K-Res-Button-LoadFile .K-Pri-Glyph-Content
{
    /*display: inherit;*/
    width: 24px;
    height: 24px;
}

.K-Res-Button-YesOk .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/ok.png");
}
.K-Res-Button-NoCancel .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/cancel.png");
}

.K-Res-Button-LoadFile .K-Pri-Glyph-Content
{
    background-image: url("images/slice/icons/documentOpen.png");
}
