@charset "utf-8";
/* CSS Document */

html, body
{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCC;
	color: #000;
}

.MainHeader, .MainContent, .MainFooter
{
	position: relative;
	margin: 0 auto;
	background: #fff;
}

.MainContent, .MainFooter
{
	overflow: hidden;
}

.MainHeader
{
	font-size: 1.5em;
	margin-bottom: 0.3em;
	padding-bottom: 0;
	border-radius: 5px 0;
	z-index: 10;
}
.MainFooter
{
	font-size: 0.8em;
	margin-top: 0.3em;
	padding: 0.5em 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}
.MainHeader, .MainFooter
{
	border-radius: 0 0 10px 10px;
}

.MainNav a
{
	display: inline-block;
	position: relative;
	padding: 0.5em 0.5em;
	vertical-align: bottom;
	font-weight: bold;
	text-decoration: none;

	border-radius: 7px 7px 0 0;
}

.MainNav a ul
{
	display: none;
	opacity: 0;
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0;
	margin-top: 0.5em;
	border: 2px solid #ccc;
	border-radius: 0 0 7px 7px;
	background-color: #fff;
	overflow: hidden;
	z-index: 10;
}
.MainNav a ul li
{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 70%;
}
.MainNav a ul li a
{
	display: block;
	white-space: nowrap;
	border-radius: 0;
}

.MainNav a:hover ul
{
	display: block;
	opacity: 1;
}

.MainNav a, .MainNav a ul
{
	/*
	transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
	*/
}

a#kekuleLogo
{
	display: inline-block;
	width: 195px;
	height: 60px;
	margin: 5px 10px;
	padding: 0;
	border-radius: 0;
}
a#kekuleLogo span
{
	display: none;
}

.SideNav
{
	float: right;
	padding: 0;
	margin: 10px;
	margin-top: 2.5em;
	width: 150px;
	border: 1px solid #ccc;
	border-radius: 7px;
	overflow: hidden;
}
.SideNav a
{
	display: block;
	padding: 0.5em 1em;
	border-bottom: 1px solid #ccc;
	text-align: center;
	text-decoration: none;
}
.SideNav a:last-child
{
	border-bottom: none;
}

.MainNav a, .SideNav a
{
	color: #666;
}

.MainNav a:hover, .MainNav a:active,
.SideNav a:hover, .SideNav a:active
{
	color: #fff;
	background: #ccc;
}

.MainContent
{
	font-size: 1em;
	position: relative;
	overflow: hidden;
	border-radius: 10px 10px 0 0;
}

.MainContent article
{
	margin: 1em;
}


.MainContent h1
{
	font-size: 2em;
	margin: 0.5em auto;
	color: #333;
	text-shadow: 1px 1px 2px #999;
}