.KekuleMoodle-Widget-Data-Wrapper
{

}
.KekuleMoodle-Widget-Data-Wrapper .KekuleMoodle-Widget-Data
{
    display: none;
}

.K-Chem-Viewer
{
    background-color: transparent;
    vertical-align: middle;
}